{{ partial "header.html" . }}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
          {{ .Content }}
      </article>
	  <hr>
	  <p>
	  Have a suggestion for a future post?  A question about an article?  Just want to say hi?  Drop me an email: <a href="mailto:gabe@cotcli.com">gabe@cotcli.com</a>
	  <p>
	  Want to receive these posts directly to your inbox? <a href="/page/subscribe">Subscribe here.</a>

      <ul class="pager blog-pager">
        {{ if .PrevInSection }}
        <li class="previous">
          <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; Previous Post</a>
        </li>
        {{ end }}
        {{ if .NextInSection }}
        <li class="next">
          <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">Next Post &rarr;</a>
        </li>
        {{ end }}
      </ul>

      {{ if .Site.DisqusShortname }}
      <div class="disqus-comments">
        {{ template "_internal/disqus.html" . }}
      </div>
      {{ end }}

    </div>
  </div>
</div>
